POSTGRES_USER=kairos_user
POSTGRES_PASSWORD=kairos_password
POSTGRES_DB=kairos_db
POSTGRES_PORT=5432

REDIS_PORT=6379

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

GOOGLE_AUTH_SERVICE_PORT=8010

AUTH_DB_HOST=postgres
AUTH_DB_PORT=5432
AUTH_DB_USER=kairos_user
AUTH_DB_PASSWORD=kairos_password
AUTH_DB_NAME=kairos_db

JWT_SECRET=change_me_for_local_development
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

SCHEDULE_DB_USER=kairos_user
SCHEDULE_DB_PASSWORD=kairos_password
SCHEDULE_DB_HOST=postgres
SCHEDULE_DB_PORT=5432
SCHEDULE_DB_NAME=kairos_db
