fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
pika
httpx

# LangChain + LangGraph
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma
langchain-huggingface
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
trustcall

# Embeddings y vectorstore
sentence-transformers
chromadb-client